/* Define CSS variables */
:root {
  --primary-color: #3498db; /* Blue */
  --secondary-color: #f1c40f; /* Yellow */
  --background-color: #f9f9f9; /* Light Gray */
  --text-color: #333; /* Dark Gray */
  --font-family: Arial, sans-serif;
}

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header h1 {
  font-size: 24px;
  margin: 0 35px;
}

header img {
  width: 100px;
  height: auto;
  margin: 10px 0;
}

.navigation {
  background-color: var(--secondary-color);
  padding: 1em;
  text-align: center;
}

.navigation a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 20px;
}

footer {
  background-color: var(--secondary-color);
  color: #363232;
  padding: 20px;
  text-align: center;
  clear: both;
  border-top: 1px solid var(--secondary-color);
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-container .left-column, .footer-container .right-column {
  width: 30%;
}

.middle-column {
  width: 40%;
  text-align: center;
}

.middle-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.middle-column li {
  margin-right: 20px;
}

.social-icon {
  width: 50px;
  height: 50px;
}

#lastModified {
  font-size: 12px;
  color: #ccc;
}

@media only screen and (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }
}

/* Blog Section */
.blog {
  padding: 2em;
  text-align: center;
}

.blog h1 {
  font-size: 36px;
  margin-bottom: 1em;
}

.blog-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.blog-post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
  font-size: 24px;
  margin-bottom: 0.5em;
}

.blog-post .post-meta {
  font-size: 14px;
  color: #777;
  margin-bottom: 1em;
}

.blog-post p {
  font-size: 16px;
  margin-bottom: 1em;
}

.read-more {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}